:root{
    --backgroundMain : #212738;
    --mainHighlight : #ff3366;
    --secondaryHighlight :  #d1d646;
    --light: #edf2ef;
}

*{
    font-family: 'Montserrat';
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page{
    height: 100vh;
    min-width: 100vw;

}
/**** HomePage ****/
#home{
    background-color: var(--backgroundMain);

}
/*** General Styles ***/


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 3rem;
}

.navigation{
    background-color: var(--light);
    border-radius: 50px;
    padding: 10px;
}

.navigation a{
    padding: 1rem;
    color: var(--backgroundMain);
    text-decoration: none;
    position: relative;
    z-index: 100;
}

.navigation a:hover{
    color: var(--light);
}

.navigation a:hover::after{
    content: '';
    background-color: #ff3366;
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
    height: 80%;
    border-radius: 50px;
    animation: slide 1s;
    z-index: -1;
    color: var(--light);
}

@keyframes slide {
    0%{
        width: 0%;
        color: var(--light);
    }
 
    100%{
        width: 100%;
        color: var(--light);
    }
}
  

.navigation a::after{
  
}

.homeMain{
    
    height: 80%; 
    position: relative;
}
.circle{
    height: 50vw;
    width: 50vw;
    background-color: var(--light);
    border-radius: 50%;
    position: absolute;
    bottom: -90%;
    left: 25%;
}

/****** About *******/

#about{
    background-color: blue;
}

/****** proyects ******/ 
#proyects{
    background-color: cadetblue;
}

.mainContainer{
    width: 100%;
    display: flex;
}

.logo h4{
    color: var(--secondaryHighlight)
}

.mainTitle{
    color: var(--secondaryHighlight);
    font-size: 2rem;
    padding: 4rem 3rem;
    position: relative;

}

.mainTitle h1{
    font-weight: 800;
    color: var(--mainHighlight);
}
.mainTitle h3{
    font-weight: 100;
}

.socials{
    background-color: var(--mainHighlight);
    position: absolute;
    right: 10%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 50px;
}
